In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
pd.set_option('display.max_columns', None)

In [4]:
# establish a database connection
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/Lahman_Baseball")
# Replace `<lahman_baseball_database_name>` with the actual name of your lahman baseball database as it appears in pgadmin

In [9]:
# use the connection to run a query using pandas!
batting_df = pd.read_sql("SELECT * FROM batting;", con=engine)
batting_df.head()

,playerid,yearid,stint,teamid,lgid,g,ab,r,h,h2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,abercda01,1871,1,TRO,NA,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NA,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NA,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NA,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NA,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN

1a

In [29]:
collegeplaying_df = pd.read_sql("SELECT * FROM CollegePlaying;", con=engine)
collegeplaying_df

        playerid  schoolid  yearid
0      aardsda01    pennst    2001
1      aardsda01      rice    2002
2      aardsda01      rice    2003
3       abadan01   gamiddl    1992
4       abadan01   gamiddl    1993
...          ...       ...     ...
17345  zupcibo01   oralrob    1987
17346  zuvelpa01  stanford    1977
17347  zuvelpa01  stanford    1978
17348  zuvelpa01  stanford    1979
17349  zuvelpa01  stanford    1980

[17350 rows x 3 columns]

In [30]:
vandy_cp_df = collegeplaying_df[collegeplaying_df['schoolid'] == 'vandy']
vandy_cp_df

        playerid schoolid  yearid
232    alvarpe01    vandy    2006
233    alvarpe01    vandy    2007
234    alvarpe01    vandy    2008
895    baxtemi01    vandy    2004
896    baxtemi01    vandy    2005
...          ...      ...     ...
16806  willimi01    vandy    1970
16807  willimi01    vandy    1971
16808  willimi01    vandy    1972
17280   zeidjo01    vandy    2006
17281   zeidjo01    vandy    2007

[65 rows x 3 columns]

In [36]:
vandy_cp_df2 = vandy_cp_df[['playerid', 'schoolid']]
vandy_cp_df2

        playerid schoolid
232    alvarpe01    vandy
233    alvarpe01    vandy
234    alvarpe01    vandy
895    baxtemi01    vandy
896    baxtemi01    vandy
...          ...      ...
16806  willimi01    vandy
16807  willimi01    vandy
16808  willimi01    vandy
17280   zeidjo01    vandy
17281   zeidjo01    vandy

[65 rows x 2 columns]

In [37]:
vandy_cp_df3 = vandy_cp_df2.drop_duplicates()
vandy_cp_df3

        playerid schoolid
232    alvarpe01    vandy
895    baxtemi01    vandy
2727   chrisni01    vandy
3017   colliwi01    vandy
3179    corajo01    vandy
4552   embresl01    vandy
4988   flahery01    vandy
5954    grayso01    vandy
6745   hendrha01    vandy
7948    katama01    vandy
8949   lewisje01    vandy
9450   madissc01    vandy
10535  minormi01    vandy
10728  mooresc01    vandy
10878   mossma01    vandy
11894   pauljo01    vandy
12422  priceda01    vandy
12442  priorma01    vandy
12949  richaan01    vandy
13638  sandesc01    vandy
14036  sewelri01    vandy
14656  sowerje01    vandy
16806  willimi01    vandy
17280   zeidjo01    vandy

In [31]:
schools_df = pd.read_sql('SELECT * FROM Schools', con=engine)
schools_df

,schoolid,schoolname,schoolcity,schoolstate,schoolnick
0,abilchrist,Abilene Christian University,Abilene,TX,USA
1,adelphi,Adelphi University,Garden City,NY,USA
2,adrianmi,Adrian College,Adrian,MI,USA
3,akron,University of Akron,Akron,OH,USA
4,alabama,University of Alabama,Tuscaloosa,AL,USA
...,...,...,...,...,...
1202,wwashngton,Western Washington University,Bellingham,WA,USA
1203,wyoming,University of Wyoming,Laramie,WY,USA
1204,xavier,Xavier University,Cincinnati,OH,USA
1205,yale,Yale University,New Haven,CT,USA
1206,youngst,Youngstown State University,Youngstown,OH,USA

In [32]:
people_df = pd.read_sql('SELECT * FROM people', con=engine)
people_df

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,deathcountry,deathstate,deathcity,namefirst,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,None,None,None,David,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,None,None,None,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,None,None,None,Don,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,None,None,None,Andy,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,USA,CA,Burlingame,Frank,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
19108,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,None,None,None,Paul,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
19109,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,USA,AZ,Tempe,George,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
19110,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,USA,CA,La Crescenta,Dutch,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
19111,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,None,None,None,Tony,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2016-08-24,zycht001,zychto01

In [38]:
vandy_player_and_college_df = people_df.merge(vandy_cp_df3, on='playerid', how='inner')
vandy_player_and_college_df

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,deathcountry,deathstate,deathcity,namefirst,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid,schoolid
0,alvarpe01,1987.0,2.0,6.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,None,None,None,Pedro,Alvarez,Pedro Manuel,250.0,75.0,L,R,2010-06-16,2016-10-01,alvap001,alvarpe01,vandy
1,baxtemi01,1984.0,12.0,7.0,USA,NY,Queens,NaN,NaN,NaN,None,None,None,Mike,Baxter,Michael Joseph,205.0,72.0,L,R,2010-09-06,2015-07-08,baxtm001,baxtemi01,vandy
2,chrisni01,1987.0,7.0,17.0,USA,NJ,Elizabeth,NaN,NaN,NaN,None,None,None,Nick,Christiani,Nicholas John,190.0,72.0,R,R,2013-08-23,2014-05-10,chrin001,chrisni01,vandy
3,colliwi01,1889.0,5.0,7.0,USA,TN,Pulaski,1941.0,2.0,28.0,USA,TN,Knoxville,Wilson,Collins,Cyril Wilson,165.0,69.0,R,R,1913-05-12,1914-07-08,collw101,colliwi01,vandy
4,corajo01,1965.0,5.0,14.0,P.R.,None,Caguas,NaN,NaN,NaN,None,None,None,Joey,Cora,Jose Manuel,150.0,67.0,B,R,1987-04-06,1998-09-27,coraj001,corajo01,vandy
5,embresl01,1901.0,8.0,17.0,USA,TN,Columbia,1947.0,10.0,10.0,USA,TN,Belle Meade,Slim,Embry,Charles Akin,184.0,74.0,R,R,1923-10-01,1923-10-01,embrs101,embresl01,vandy
6,flahery01,1986.0,7.0,27.0,USA,ME,Portland,NaN,NaN,NaN,None,None,None,Ryan,Flaherty,Ryan Edward,220.0,75.0,L,R,2012-04-07,2016-09-28,flahr001,flahery01,vandy
7,grayso01,1989.0,11.0,7.0,USA,TN,Nashville,NaN,NaN,NaN,None,None,None,Sonny,Gray,Sonny Douglas,190.0,70.0,R,R,2013-07-10,2016-09-28,grays001,grayso01,vandy
8,hendrha01,1897.0,11.0,9.0,USA,TN,Mason,1941.0,10.0,29.0,USA,TN,Covington,Harvey,Hendrick,Harvey,190.0,74.0,L,R,1923-04-20,1934-08-28,hendh101,hendrha01,vandy
9,katama01,1978.0,3.0,14.0,USA,OH,Avon Lake,NaN,NaN,NaN,None,None,None,Matt,Kata,Matthew John,185.0,73.0,B,R,2003-06-15,2009-08-11,katam001,katama01,vandy
10,lewisje01,1984.0,5.0,16.0,USA,OH,Cincinnati,NaN,NaN,NaN,None,None,None,Jensen,Lewis,Jensen Daniel,240.0,75.0,R,R,2007-07-16,2010-10-01,lewij003,lewisje01,vandy
11,madissc01,1959.0,9.0,12.0,USA,FL,Pensacola,NaN,NaN,NaN,None,None,None,Scotti,Madison,Charles Scott,185.0,71.0,B,R,1985-07-06,1989-10-01,madis001,madissc01,vandy
12,minormi01,1987.0,12.0,26.0,USA,TN,Chapel Hill,NaN,NaN,NaN,None,None,None,Mike,Minor,Michael David,210.0,76.0,R,L,2010-08-09,2017-04-03,minom001,minormi01,vandy
13,mooresc01,1892.0,12.0,16.0,USA,MO,St. Louis,1964.0,10.0,13.0,USA,AR,Little Rock,Scrappy,Moore,William Allen,153.0,68.0,R,R,1917-06-21,1917-07-05,moors101,mooresc01,vandy
14,mossma01,1905.0,4.0,18.0,USA,IN,Sullivan,1983.0,2.0,6.0,USA,GA,Savannah,Mal,Moss,Charles Malcolm,175.0,72.0,R,L,1930-04-24,1930-08-13,mossm101,mossma01,vandy
15,pauljo01,1975.0,5.0,19.0,USA,IL,Evanston,NaN,NaN,NaN,None,None,None,Josh,Paul,Joshua William,185.0,73.0,R,R,1999-09-07,2007-09-26,paulj001,pauljo01,vandy
16,priceda01,1985.0,8.0,26.0,USA,TN,Murfreesboro,NaN,NaN,NaN,None,None,None,David,Price,David Taylor,215.0,77.0,L,L,2008-09-14,2016-10-02,pricd001,priceda01,vandy
17,priorma01,1980.0,9.0,7.0,USA,CA,San Diego,NaN,NaN,NaN,None,None,None,Mark,Prior,Mark William,230.0,77.0,R,R,2002-05-22,2006-08-10,priom001,priorma01,vandy
18,richaan01,1983.0,10.0,8.0,Bahamas,New Providence,Nassau,NaN,NaN,NaN,None,None,None,Antoan,Richardson,Antoan Edward,165.0,68.0,B,R,2011-09-04,2014-09-28,richa001,richaan01,vandy
19,sandesc01,1956.0,7.0,22.0,USA,MI,Dearborn,NaN,NaN,NaN,None,None,None,Scott,Sanderson,Scott Douglas,195.0,77.0,R,R,1978-08-06,1996-05-15,sands001,sandesc01,vandy
20,sewelri01,1907.0,5.0,11.0,USA,AL,Decatur,1989.0,9.0,3.0,USA,FL,Plant City,Rip,Sewell,Truett Banks,180.0,73.0,L,R,1932-06-14,1949-09-19,sewer101,sewelri01,vandy
21,sowerje01,1983.0,5.0,17.0,USA,OH,St. Clairsville,NaN,NaN,NaN,None,None,None,Jeremy,Sowers,Jeremy Bryan,180.0,73.0,L,L,2006-06-25,2009-10-02,sowej001,sowerje01,vandy
22,willimi01,1950.0,12.0,26.0,USA,OK,Oklahoma City,NaN,NaN,NaN,None,None,None,Mike,Willis,Michael Henry,205.0,74.0,L,L,1977-04-13,1981-06-11,willm101,willimi01,vandy
23,zeidjo01,1987.0,3.0,24.0,USA,CT,New Haven,NaN,NaN,NaN,None,None,None,Josh,Zeid,Joshua Alexander,220.0,76.0,R,R,2013-07-30,2014-07-24,zeidj001,zeidjo01,vandy

In [39]:
vandy_player_and_college_df2 = vandy_player_and_college_df.merge(schools_df, on='schoolid', how='left')
vandy_player_and_college_df2

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,deathcountry,deathstate,deathcity,namefirst,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid,schoolid,schoolname,schoolcity,schoolstate,schoolnick
0,alvarpe01,1987.0,2.0,6.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,None,None,None,Pedro,Alvarez,Pedro Manuel,250.0,75.0,L,R,2010-06-16,2016-10-01,alvap001,alvarpe01,vandy,Vanderbilt University,Nashville,TN,USA
1,baxtemi01,1984.0,12.0,7.0,USA,NY,Queens,NaN,NaN,NaN,None,None,None,Mike,Baxter,Michael Joseph,205.0,72.0,L,R,2010-09-06,2015-07-08,baxtm001,baxtemi01,vandy,Vanderbilt University,Nashville,TN,USA
2,chrisni01,1987.0,7.0,17.0,USA,NJ,Elizabeth,NaN,NaN,NaN,None,None,None,Nick,Christiani,Nicholas John,190.0,72.0,R,R,2013-08-23,2014-05-10,chrin001,chrisni01,vandy,Vanderbilt University,Nashville,TN,USA
3,colliwi01,1889.0,5.0,7.0,USA,TN,Pulaski,1941.0,2.0,28.0,USA,TN,Knoxville,Wilson,Collins,Cyril Wilson,165.0,69.0,R,R,1913-05-12,1914-07-08,collw101,colliwi01,vandy,Vanderbilt University,Nashville,TN,USA
4,corajo01,1965.0,5.0,14.0,P.R.,None,Caguas,NaN,NaN,NaN,None,None,None,Joey,Cora,Jose Manuel,150.0,67.0,B,R,1987-04-06,1998-09-27,coraj001,corajo01,vandy,Vanderbilt University,Nashville,TN,USA
5,embresl01,1901.0,8.0,17.0,USA,TN,Columbia,1947.0,10.0,10.0,USA,TN,Belle Meade,Slim,Embry,Charles Akin,184.0,74.0,R,R,1923-10-01,1923-10-01,embrs101,embresl01,vandy,Vanderbilt University,Nashville,TN,USA
6,flahery01,1986.0,7.0,27.0,USA,ME,Portland,NaN,NaN,NaN,None,None,None,Ryan,Flaherty,Ryan Edward,220.0,75.0,L,R,2012-04-07,2016-09-28,flahr001,flahery01,vandy,Vanderbilt University,Nashville,TN,USA
7,grayso01,1989.0,11.0,7.0,USA,TN,Nashville,NaN,NaN,NaN,None,None,None,Sonny,Gray,Sonny Douglas,190.0,70.0,R,R,2013-07-10,2016-09-28,grays001,grayso01,vandy,Vanderbilt University,Nashville,TN,USA
8,hendrha01,1897.0,11.0,9.0,USA,TN,Mason,1941.0,10.0,29.0,USA,TN,Covington,Harvey,Hendrick,Harvey,190.0,74.0,L,R,1923-04-20,1934-08-28,hendh101,hendrha01,vandy,Vanderbilt University,Nashville,TN,USA
9,katama01,1978.0,3.0,14.0,USA,OH,Avon Lake,NaN,NaN,NaN,None,None,None,Matt,Kata,Matthew John,185.0,73.0,B,R,2003-06-15,2009-08-11,katam001,katama01,vandy,Vanderbilt University,Nashville,TN,USA
10,lewisje01,1984.0,5.0,16.0,USA,OH,Cincinnati,NaN,NaN,NaN,None,None,None,Jensen,Lewis,Jensen Daniel,240.0,75.0,R,R,2007-07-16,2010-10-01,lewij003,lewisje01,vandy,Vanderbilt University,Nashville,TN,USA
11,madissc01,1959.0,9.0,12.0,USA,FL,Pensacola,NaN,NaN,NaN,None,None,None,Scotti,Madison,Charles Scott,185.0,71.0,B,R,1985-07-06,1989-10-01,madis001,madissc01,vandy,Vanderbilt University,Nashville,TN,USA
12,minormi01,1987.0,12.0,26.0,USA,TN,Chapel Hill,NaN,NaN,NaN,None,None,None,Mike,Minor,Michael David,210.0,76.0,R,L,2010-08-09,2017-04-03,minom001,minormi01,vandy,Vanderbilt University,Nashville,TN,USA
13,mooresc01,1892.0,12.0,16.0,USA,MO,St. Louis,1964.0,10.0,13.0,USA,AR,Little Rock,Scrappy,Moore,William Allen,153.0,68.0,R,R,1917-06-21,1917-07-05,moors101,mooresc01,vandy,Vanderbilt University,Nashville,TN,USA
14,mossma01,1905.0,4.0,18.0,USA,IN,Sullivan,1983.0,2.0,6.0,USA,GA,Savannah,Mal,Moss,Charles Malcolm,175.0,72.0,R,L,1930-04-24,1930-08-13,mossm101,mossma01,vandy,Vanderbilt University,Nashville,TN,USA
15,pauljo01,1975.0,5.0,19.0,USA,IL,Evanston,NaN,NaN,NaN,None,None,None,Josh,Paul,Joshua William,185.0,73.0,R,R,1999-09-07,2007-09-26,paulj001,pauljo01,vandy,Vanderbilt University,Nashville,TN,USA
16,priceda01,1985.0,8.0,26.0,USA,TN,Murfreesboro,NaN,NaN,NaN,None,None,None,David,Price,David Taylor,215.0,77.0,L,L,2008-09-14,2016-10-02,pricd001,priceda01,vandy,Vanderbilt University,Nashville,TN,USA
17,priorma01,1980.0,9.0,7.0,USA,CA,San Diego,NaN,NaN,NaN,None,None,None,Mark,Prior,Mark William,230.0,77.0,R,R,2002-05-22,2006-08-10,priom001,priorma01,vandy,Vanderbilt University,Nashville,TN,USA
18,richaan01,1983.0,10.0,8.0,Bahamas,New Providence,Nassau,NaN,NaN,NaN,None,None,None,Antoan,Richardson,Antoan Edward,165.0,68.0,B,R,2011-09-04,2014-09-28,richa001,richaan01,vandy,Vanderbilt University,Nashville,TN,USA
19,sandesc01,1956.0,7.0,22.0,USA,MI,Dearborn,NaN,NaN,NaN,None,None,None,Scott,Sanderson,Scott Douglas,195.0,77.0,R,R,1978-08-06,1996-05-15,sands001,sandesc01,vandy,Vanderbilt University,Nashville,TN,USA
20,sewelri01,1907.0,5.0,11.0,USA,AL,Decatur,1989.0,9.0,3.0,USA,FL,Plant City,Rip,Sewell,Truett Banks,180.0,73.0,L,R,1932-06-14,1949-09-19,sewer101,sewelri01,vandy,Vanderbilt University,Nashville,TN,USA
21,sowerje01,1983.0,5.0,17.0,USA,OH,St. Clairsville,NaN,NaN,NaN,None,None,None,Jeremy,Sowers,Jeremy Bryan,180.0,73.0,L,L,2006-06-25,2009-10-02,sowej001,sowerje01,vandy,Vanderbilt University,Nashville,TN,USA
22,willimi01,1950.0,12.0,26.0,USA,OK,Oklahoma City,NaN,NaN,NaN,None,None,None,Mike,Willis,Michael Henry,205.0,74.0,L,L,1977-04-13,1981-06-11,willm101,willimi01,vandy,Vanderbilt University,Nashville,TN,USA
23,zeidjo01,1987.0,3.0,24.0,USA,CT,New Haven,NaN,NaN,NaN,None,None,None,Josh,Zeid,Joshua Alexander,220.0,76.0,R,R,2013-07-30,2014-07-24,zeidj001,zeidjo01,vandy,Vanderbilt University,Nashville,TN,USA

1b

In [40]:
salaries_df = pd.read_sql("SELECT * FROM Salaries;", con=engine)
salaries_df

       yearid teamid lgid   playerid      salary
0        1985    ATL   NL  barkele01    870000.0
1        1985    ATL   NL  bedrost01    550000.0
2        1985    ATL   NL  benedbr01    545000.0
3        1985    ATL   NL   campri01    633333.0
4        1985    ATL   NL  ceronri01    625000.0
...       ...    ...  ...        ...         ...
26423    2016    WAS   NL  strasst01  10400000.0
26424    2016    WAS   NL  taylomi02    524000.0
26425    2016    WAS   NL  treinbl01    524900.0
26426    2016    WAS   NL  werthja01  21733615.0
26427    2016    WAS   NL  zimmery01  14000000.0

[26428 rows x 5 columns]

In [42]:
player_total_salary = salaries_df.groupby('playerid')['salary'].sum()
player_total_salary

playerid
aardsda01    9259750.0
aasedo01     2300000.0
abadan01      327000.0
abadfe01     3766400.0
abbotje01     985000.0
               ...
zumayjo01    4207000.0
zuninmi01    1027600.0
zupcibo01     431000.0
zuvelpa01     145000.0
zychto01      511000.0
Name: salary, Length: 5149, dtype: float64

In [47]:
player_total_salary_df = player_total_salary.to_frame()

In [48]:
player_total_salary_df

              salary
playerid
aardsda01  9259750.0
aasedo01   2300000.0
abadan01    327000.0
abadfe01   3766400.0
abbotje01   985000.0
...              ...
zumayjo01  4207000.0
zuninmi01  1027600.0
zupcibo01   431000.0
zuvelpa01   145000.0
zychto01    511000.0

[5149 rows x 1 columns]

In [49]:
vandy_salary_df = vandy_player_and_college_df2.merge(player_total_salary_df, on='playerid', how='left')
vandy_salary_df

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,deathcountry,deathstate,deathcity,namefirst,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid,schoolid,schoolname,schoolcity,schoolstate,schoolnick,salary
0,alvarpe01,1987.0,2.0,6.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,None,None,None,Pedro,Alvarez,Pedro Manuel,250.0,75.0,L,R,2010-06-16,2016-10-01,alvap001,alvarpe01,vandy,Vanderbilt University,Nashville,TN,USA,20681704.0
1,baxtemi01,1984.0,12.0,7.0,USA,NY,Queens,NaN,NaN,NaN,None,None,None,Mike,Baxter,Michael Joseph,205.0,72.0,L,R,2010-09-06,2015-07-08,baxtm001,baxtemi01,vandy,Vanderbilt University,Nashville,TN,USA,2094418.0
2,chrisni01,1987.0,7.0,17.0,USA,NJ,Elizabeth,NaN,NaN,NaN,None,None,None,Nick,Christiani,Nicholas John,190.0,72.0,R,R,2013-08-23,2014-05-10,chrin001,chrisni01,vandy,Vanderbilt University,Nashville,TN,USA,500000.0
3,colliwi01,1889.0,5.0,7.0,USA,TN,Pulaski,1941.0,2.0,28.0,USA,TN,Knoxville,Wilson,Collins,Cyril Wilson,165.0,69.0,R,R,1913-05-12,1914-07-08,collw101,colliwi01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
4,corajo01,1965.0,5.0,14.0,P.R.,None,Caguas,NaN,NaN,NaN,None,None,None,Joey,Cora,Jose Manuel,150.0,67.0,B,R,1987-04-06,1998-09-27,coraj001,corajo01,vandy,Vanderbilt University,Nashville,TN,USA,5622500.0
5,embresl01,1901.0,8.0,17.0,USA,TN,Columbia,1947.0,10.0,10.0,USA,TN,Belle Meade,Slim,Embry,Charles Akin,184.0,74.0,R,R,1923-10-01,1923-10-01,embrs101,embresl01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
6,flahery01,1986.0,7.0,27.0,USA,ME,Portland,NaN,NaN,NaN,None,None,None,Ryan,Flaherty,Ryan Edward,220.0,75.0,L,R,2012-04-07,2016-09-28,flahr001,flahery01,vandy,Vanderbilt University,Nashville,TN,USA,4061000.0
7,grayso01,1989.0,11.0,7.0,USA,TN,Nashville,NaN,NaN,NaN,None,None,None,Sonny,Gray,Sonny Douglas,190.0,70.0,R,R,2013-07-10,2016-09-28,grays001,grayso01,vandy,Vanderbilt University,Nashville,TN,USA,1542500.0
8,hendrha01,1897.0,11.0,9.0,USA,TN,Mason,1941.0,10.0,29.0,USA,TN,Covington,Harvey,Hendrick,Harvey,190.0,74.0,L,R,1923-04-20,1934-08-28,hendh101,hendrha01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
9,katama01,1978.0,3.0,14.0,USA,OH,Avon Lake,NaN,NaN,NaN,None,None,None,Matt,Kata,Matthew John,185.0,73.0,B,R,2003-06-15,2009-08-11,katam001,katama01,vandy,Vanderbilt University,Nashville,TN,USA,1060000.0
10,lewisje01,1984.0,5.0,16.0,USA,OH,Cincinnati,NaN,NaN,NaN,None,None,None,Jensen,Lewis,Jensen Daniel,240.0,75.0,R,R,2007-07-16,2010-10-01,lewij003,lewisje01,vandy,Vanderbilt University,Nashville,TN,USA,1234000.0
11,madissc01,1959.0,9.0,12.0,USA,FL,Pensacola,NaN,NaN,NaN,None,None,None,Scotti,Madison,Charles Scott,185.0,71.0,B,R,1985-07-06,1989-10-01,madis001,madissc01,vandy,Vanderbilt University,Nashville,TN,USA,135000.0
12,minormi01,1987.0,12.0,26.0,USA,TN,Chapel Hill,NaN,NaN,NaN,None,None,None,Mike,Minor,Michael David,210.0,76.0,R,L,2010-08-09,2017-04-03,minom001,minormi01,vandy,Vanderbilt University,Nashville,TN,USA,6837500.0
13,mooresc01,1892.0,12.0,16.0,USA,MO,St. Louis,1964.0,10.0,13.0,USA,AR,Little Rock,Scrappy,Moore,William Allen,153.0,68.0,R,R,1917-06-21,1917-07-05,moors101,mooresc01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
14,mossma01,1905.0,4.0,18.0,USA,IN,Sullivan,1983.0,2.0,6.0,USA,GA,Savannah,Mal,Moss,Charles Malcolm,175.0,72.0,R,L,1930-04-24,1930-08-13,mossm101,mossma01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
15,pauljo01,1975.0,5.0,19.0,USA,IL,Evanston,NaN,NaN,NaN,None,None,None,Josh,Paul,Joshua William,185.0,73.0,R,R,1999-09-07,2007-09-26,paulj001,pauljo01,vandy,Vanderbilt University,Nashville,TN,USA,2640000.0
16,priceda01,1985.0,8.0,26.0,USA,TN,Murfreesboro,NaN,NaN,NaN,None,None,None,David,Price,David Taylor,215.0,77.0,L,L,2008-09-14,2016-10-02,pricd001,priceda01,vandy,Vanderbilt University,Nashville,TN,USA,81851296.0
17,priorma01,1980.0,9.0,7.0,USA,CA,San Diego,NaN,NaN,NaN,None,None,None,Mark,Prior,Mark William,230.0,77.0,R,R,2002-05-22,2006-08-10,priom001,priorma01,vandy,Vanderbilt University,Nashville,TN,USA,12800000.0
18,richaan01,1983.0,10.0,8.0,Bahamas,New Providence,Nassau,NaN,NaN,NaN,None,None,None,Antoan,Richardson,Antoan Edward,165.0,68.0,B,R,2011-09-04,2014-09-28,richa001,richaan01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
19,sandesc01,1956.0,7.0,22.0,USA,MI,Dearborn,NaN,NaN,NaN,None,None,None,Scott,Sanderson,Scott Douglas,195.0,77.0,R,R,1978-08-06,1996-05-15,sands001,sandesc01,vandy,Vanderbilt University,Nashville,TN,USA,10750000.0
20,sewelri01,1907.0,5.0,11.0,USA,AL,Decatur,1989.0,9.0,3.0,USA,FL,Plant City,Rip,Sewell,Truett Banks,180.0,73.0,L,R,1932-06-14,1949-09-19,sewer101,sewelri01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
21,sowerje01,1983.0,5.0,17.0,USA,OH,St. Clairsville,NaN,NaN,NaN,None,None,None,Jeremy,Sowers,Jeremy Bryan,180.0,73.0,L,L,2006-06-25,2009-10-02,sowej001,sowerje01,vandy,Vanderbilt University,Nashville,TN,USA,384800.0
22,willimi01,1950.0,12.0,26.0,USA,OK,Oklahoma City,NaN,NaN,NaN,None,None,None,Mike,Willis,Michael Henry,205.0,74.0,L,L,1977-04-13,1981-06-11,willm101,willimi01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
23,zeidjo01,1987.0,3.0,24.0,USA,CT,New Haven,NaN,NaN,NaN,None,None,None,Josh,Zeid,Joshua Alexander,220.0,76.0,R,R,2013-07-30,2014-07-24,zeidj001,zeidjo01,vandy,Vanderbilt University,Nashville,TN,USA,NaN

In [50]:
vandy_salary_df.sort_values('salary', ascending=False, inplace=True)
vandy_salary_df

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,deathcountry,deathstate,deathcity,namefirst,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid,schoolid,schoolname,schoolcity,schoolstate,schoolnick,salary
16,priceda01,1985.0,8.0,26.0,USA,TN,Murfreesboro,NaN,NaN,NaN,None,None,None,David,Price,David Taylor,215.0,77.0,L,L,2008-09-14,2016-10-02,pricd001,priceda01,vandy,Vanderbilt University,Nashville,TN,USA,81851296.0
0,alvarpe01,1987.0,2.0,6.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,None,None,None,Pedro,Alvarez,Pedro Manuel,250.0,75.0,L,R,2010-06-16,2016-10-01,alvap001,alvarpe01,vandy,Vanderbilt University,Nashville,TN,USA,20681704.0
17,priorma01,1980.0,9.0,7.0,USA,CA,San Diego,NaN,NaN,NaN,None,None,None,Mark,Prior,Mark William,230.0,77.0,R,R,2002-05-22,2006-08-10,priom001,priorma01,vandy,Vanderbilt University,Nashville,TN,USA,12800000.0
19,sandesc01,1956.0,7.0,22.0,USA,MI,Dearborn,NaN,NaN,NaN,None,None,None,Scott,Sanderson,Scott Douglas,195.0,77.0,R,R,1978-08-06,1996-05-15,sands001,sandesc01,vandy,Vanderbilt University,Nashville,TN,USA,10750000.0
12,minormi01,1987.0,12.0,26.0,USA,TN,Chapel Hill,NaN,NaN,NaN,None,None,None,Mike,Minor,Michael David,210.0,76.0,R,L,2010-08-09,2017-04-03,minom001,minormi01,vandy,Vanderbilt University,Nashville,TN,USA,6837500.0
4,corajo01,1965.0,5.0,14.0,P.R.,None,Caguas,NaN,NaN,NaN,None,None,None,Joey,Cora,Jose Manuel,150.0,67.0,B,R,1987-04-06,1998-09-27,coraj001,corajo01,vandy,Vanderbilt University,Nashville,TN,USA,5622500.0
6,flahery01,1986.0,7.0,27.0,USA,ME,Portland,NaN,NaN,NaN,None,None,None,Ryan,Flaherty,Ryan Edward,220.0,75.0,L,R,2012-04-07,2016-09-28,flahr001,flahery01,vandy,Vanderbilt University,Nashville,TN,USA,4061000.0
15,pauljo01,1975.0,5.0,19.0,USA,IL,Evanston,NaN,NaN,NaN,None,None,None,Josh,Paul,Joshua William,185.0,73.0,R,R,1999-09-07,2007-09-26,paulj001,pauljo01,vandy,Vanderbilt University,Nashville,TN,USA,2640000.0
1,baxtemi01,1984.0,12.0,7.0,USA,NY,Queens,NaN,NaN,NaN,None,None,None,Mike,Baxter,Michael Joseph,205.0,72.0,L,R,2010-09-06,2015-07-08,baxtm001,baxtemi01,vandy,Vanderbilt University,Nashville,TN,USA,2094418.0
7,grayso01,1989.0,11.0,7.0,USA,TN,Nashville,NaN,NaN,NaN,None,None,None,Sonny,Gray,Sonny Douglas,190.0,70.0,R,R,2013-07-10,2016-09-28,grays001,grayso01,vandy,Vanderbilt University,Nashville,TN,USA,1542500.0
10,lewisje01,1984.0,5.0,16.0,USA,OH,Cincinnati,NaN,NaN,NaN,None,None,None,Jensen,Lewis,Jensen Daniel,240.0,75.0,R,R,2007-07-16,2010-10-01,lewij003,lewisje01,vandy,Vanderbilt University,Nashville,TN,USA,1234000.0
9,katama01,1978.0,3.0,14.0,USA,OH,Avon Lake,NaN,NaN,NaN,None,None,None,Matt,Kata,Matthew John,185.0,73.0,B,R,2003-06-15,2009-08-11,katam001,katama01,vandy,Vanderbilt University,Nashville,TN,USA,1060000.0
2,chrisni01,1987.0,7.0,17.0,USA,NJ,Elizabeth,NaN,NaN,NaN,None,None,None,Nick,Christiani,Nicholas John,190.0,72.0,R,R,2013-08-23,2014-05-10,chrin001,chrisni01,vandy,Vanderbilt University,Nashville,TN,USA,500000.0
21,sowerje01,1983.0,5.0,17.0,USA,OH,St. Clairsville,NaN,NaN,NaN,None,None,None,Jeremy,Sowers,Jeremy Bryan,180.0,73.0,L,L,2006-06-25,2009-10-02,sowej001,sowerje01,vandy,Vanderbilt University,Nashville,TN,USA,384800.0
11,madissc01,1959.0,9.0,12.0,USA,FL,Pensacola,NaN,NaN,NaN,None,None,None,Scotti,Madison,Charles Scott,185.0,71.0,B,R,1985-07-06,1989-10-01,madis001,madissc01,vandy,Vanderbilt University,Nashville,TN,USA,135000.0
3,colliwi01,1889.0,5.0,7.0,USA,TN,Pulaski,1941.0,2.0,28.0,USA,TN,Knoxville,Wilson,Collins,Cyril Wilson,165.0,69.0,R,R,1913-05-12,1914-07-08,collw101,colliwi01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
5,embresl01,1901.0,8.0,17.0,USA,TN,Columbia,1947.0,10.0,10.0,USA,TN,Belle Meade,Slim,Embry,Charles Akin,184.0,74.0,R,R,1923-10-01,1923-10-01,embrs101,embresl01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
8,hendrha01,1897.0,11.0,9.0,USA,TN,Mason,1941.0,10.0,29.0,USA,TN,Covington,Harvey,Hendrick,Harvey,190.0,74.0,L,R,1923-04-20,1934-08-28,hendh101,hendrha01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
13,mooresc01,1892.0,12.0,16.0,USA,MO,St. Louis,1964.0,10.0,13.0,USA,AR,Little Rock,Scrappy,Moore,William Allen,153.0,68.0,R,R,1917-06-21,1917-07-05,moors101,mooresc01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
14,mossma01,1905.0,4.0,18.0,USA,IN,Sullivan,1983.0,2.0,6.0,USA,GA,Savannah,Mal,Moss,Charles Malcolm,175.0,72.0,R,L,1930-04-24,1930-08-13,mossm101,mossma01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
18,richaan01,1983.0,10.0,8.0,Bahamas,New Providence,Nassau,NaN,NaN,NaN,None,None,None,Antoan,Richardson,Antoan Edward,165.0,68.0,B,R,2011-09-04,2014-09-28,richa001,richaan01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
20,sewelri01,1907.0,5.0,11.0,USA,AL,Decatur,1989.0,9.0,3.0,USA,FL,Plant City,Rip,Sewell,Truett Banks,180.0,73.0,L,R,1932-06-14,1949-09-19,sewer101,sewelri01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
22,willimi01,1950.0,12.0,26.0,USA,OK,Oklahoma City,NaN,NaN,NaN,None,None,None,Mike,Willis,Michael Henry,205.0,74.0,L,L,1977-04-13,1981-06-11,willm101,willimi01,vandy,Vanderbilt University,Nashville,TN,USA,NaN
23,zeidjo01,1987.0,3.0,24.0,USA,CT,New Haven,NaN,NaN,NaN,None,None,None,Josh,Zeid,Joshua Alexander,220.0,76.0,R,R,2013-07-30,2014-07-24,zeidj001,zeidjo01,vandy,Vanderbilt University,Nashville,TN,USA,NaN

In [51]:
vandy_total_salary_df = vandy_salary_df[['namefirst', 'namelast', 'playerid', 'salary']]
vandy_total_salary_df

   namefirst    namelast   playerid      salary
16     David       Price  priceda01  81851296.0
0      Pedro     Alvarez  alvarpe01  20681704.0
17      Mark       Prior  priorma01  12800000.0
19     Scott   Sanderson  sandesc01  10750000.0
12      Mike       Minor  minormi01   6837500.0
4       Joey        Cora   corajo01   5622500.0
6       Ryan    Flaherty  flahery01   4061000.0
15      Josh        Paul   pauljo01   2640000.0
1       Mike      Baxter  baxtemi01   2094418.0
7      Sonny        Gray   grayso01   1542500.0
10    Jensen       Lewis  lewisje01   1234000.0
9       Matt        Kata   katama01   1060000.0
2       Nick  Christiani  chrisni01    500000.0
21    Jeremy      Sowers  sowerje01    384800.0
11    Scotti     Madison  madissc01    135000.0
3     Wilson     Collins  colliwi01         NaN
5       Slim       Embry  embresl01         NaN
8     Harvey    Hendrick  hendrha01         NaN
13   Scrappy       Moore  mooresc01         NaN
14       Mal        Moss   mossma01         NaN
18    Antoan  Richardson  richaan01         NaN
20       Rip      Sewell  sewelri01         NaN
22      Mike      Willis  willimi01         NaN
23      Josh        Zeid   zeidjo01         NaN

1d: David Price with almost $82 million

2

In [52]:
fielding_df = pd.read_sql('SELECT * FROM Fielding', con=engine)
fielding_df

,playerid,yearid,stint,teamid,lgid,pos,g,gs,innouts,po,a,e,dp,pb,wp,sb,cs,zr
0,abercda01,1871,1,TRO,NA,SS,1,NaN,NaN,1,3.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NA,2B,22,NaN,NaN,67,72.0,42.0,5.0,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NA,SS,3,NaN,NaN,8,14.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NA,2B,2,NaN,NaN,1,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NA,OF,29,NaN,NaN,51,3.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136810,zobribe01,2016,1,CHN,NL,2B,119,113.0,2929.0,177,250.0,7.0,52.0,NaN,NaN,NaN,NaN,NaN
136811,zobribe01,2016,1,CHN,NL,OF,46,29.0,859.0,43,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
136812,zobribe01,2016,1,CHN,NL,SS,1,0.0,6.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
136813,zuninmi01,2016,1,SEA,AL,C,52,48.0,1331.0,400,15.0,0.0,0.0,3.0,NaN,19.0,7.0,NaN
136814,zychto01,2016,1,SEA,AL,P,12,0.0,41.0,0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN

In [57]:
classification = []
for row in fielding_df['pos'] :
    if row in ['SS' , '1B' , '2B' , '3B'] : classification.append('Infield')
    elif row in ['OF'] : classification.append('Outfield')
    elif row in ['P', 'C'] : classification.append('Battery')
    else : classification.append('None')
classification

['Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Battery',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Outfield',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Outfield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Battery',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Battery',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Battery',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Battery',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Battery',
 'Battery',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Infield',
 'Outfield',
 'Outfield',
 'Outfield',
 'Battery',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Infield',
 'Battery',
 'Outfield',
 'Infield',
 ...]

In [58]:
fielding_df['classification'] = classification
fielding_df

,playerid,yearid,stint,teamid,lgid,pos,g,gs,innouts,po,a,e,dp,pb,wp,sb,cs,zr,classification
0,abercda01,1871,1,TRO,NA,SS,1,NaN,NaN,1,3.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,Infield
1,addybo01,1871,1,RC1,NA,2B,22,NaN,NaN,67,72.0,42.0,5.0,NaN,NaN,NaN,NaN,NaN,Infield
2,addybo01,1871,1,RC1,NA,SS,3,NaN,NaN,8,14.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN,Infield
3,allisar01,1871,1,CL1,NA,2B,2,NaN,NaN,1,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Infield
4,allisar01,1871,1,CL1,NA,OF,29,NaN,NaN,51,3.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN,Outfield
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136810,zobribe01,2016,1,CHN,NL,2B,119,113.0,2929.0,177,250.0,7.0,52.0,NaN,NaN,NaN,NaN,NaN,Infield
136811,zobribe01,2016,1,CHN,NL,OF,46,29.0,859.0,43,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Outfield
136812,zobribe01,2016,1,CHN,NL,SS,1,0.0,6.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Infield
136813,zuninmi01,2016,1,SEA,AL,C,52,48.0,1331.0,400,15.0,0.0,0.0,3.0,NaN,19.0,7.0,NaN,Battery
136814,zychto01,2016,1,SEA,AL,P,12,0.0,41.0,0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,Battery

In [61]:
fielding_df_2016 = fielding_df[fielding_df['yearid'] == 2016]
fielding_df_2016

,playerid,yearid,stint,teamid,lgid,pos,g,gs,innouts,po,a,e,dp,pb,wp,sb,cs,zr,classification
134862,abadfe01,2016,1,MIN,AL,P,39,0.0,102.0,0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,Battery
134863,abadfe01,2016,2,BOS,AL,P,18,0.0,38.0,0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Battery
134864,abreujo02,2016,1,CHA,AL,1B,152,152.0,4067.0,1243,84.0,10.0,131.0,NaN,NaN,NaN,NaN,NaN,Infield
134865,achteaj01,2016,1,LAA,AL,P,27,0.0,113.0,2,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Battery
134866,ackledu01,2016,1,NYA,AL,1B,13,10.0,255.0,80,7.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,Infield
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136810,zobribe01,2016,1,CHN,NL,2B,119,113.0,2929.0,177,250.0,7.0,52.0,NaN,NaN,NaN,NaN,NaN,Infield
136811,zobribe01,2016,1,CHN,NL,OF,46,29.0,859.0,43,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Outfield
136812,zobribe01,2016,1,CHN,NL,SS,1,0.0,6.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Infield
136813,zuninmi01,2016,1,SEA,AL,C,52,48.0,1331.0,400,15.0,0.0,0.0,3.0,NaN,19.0,7.0,NaN,Battery
136814,zychto01,2016,1,SEA,AL,P,12,0.0,41.0,0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,Battery

In [62]:
po_by_class_2016 = fielding_df_2016.groupby('classification')['po'].sum()
po_by_class_2016

classification
Battery     41424
Infield     58934
Outfield    29560
Name: po, dtype: int64

3a